<?xml version="1.0" encoding="UTF-8"?>
<web-app id="owsproxy" version="2.4" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee">
<display-name>owsproxyserver</display-name>
<filter>
<filter-name>OWSProxyServletFilter_test_no_restrictions</filter-name>
<filter-class>
			org.deegree.security.owsproxy.OWSProxyServletFilter
		</filter-class>
<init-param>
<param-name>WMS:POLICY</param-name>
<param-value>/WEB-INF/tests/wmsPolicy_test_no_restrictions.xml</param-value>
</init-param>
<init-param>
<param-name>ALTREQUESTPAGE</param-name>
<param-value>/accessDenied.html</param-value>
</init-param>
</filter>
<filter-mapping>
<filter-name>OWSProxyServletFilter_test_no_restrictions</filter-name>
<servlet-name>test_no_restrictions</servlet-name>
</filter-mapping>
<filter>
<filter-name>OWSLoggerFilter_test_no_restrictions</filter-name>
<filter-class>com.camptocamp.owsproxy.OWSLoggerFilter</filter-class>
</filter>
<filter-mapping>
<filter-name>OWSLoggerFilter_test_no_restrictions</filter-name>
<servlet-name>test_no_restrictions</servlet-name>
</filter-mapping>
<servlet>
<description/>
<display-name>test_no_restrictions</display-name>
<servlet-name>test_no_restrictions</servlet-name>
<servlet-class>com.camptocamp.owsproxy.OWSProxyServlet</servlet-class>
<init-param>
<param-name>serviceEndPoint</param-name>
<param-value>http://localhost:8081/geoserver/wms</param-value>
</init-param>
</servlet>
<servlet-mapping>
<servlet-name>test_no_restrictions</servlet-name>
<url-pattern>/test_no_restrictions</url-pattern>
</servlet-mapping>
<security-constraint>
<display-name>Ows Proxy Security Constraint</display-name>
<web-resource-collection>
<web-resource-name>Protected Area</web-resource-name>
<url-pattern>/test_no_restrictions</url-pattern>
<http-method>DELETE</http-method>
<http-method>GET</http-method>
<http-method>POST</http-method>
<http-method>PUT</http-method>
</web-resource-collection>
<auth-constraint>
<role-name>tomcat</role-name>
<role-name>role1</role-name>
</auth-constraint>
</security-constraint>
<filter>
<filter-name>OWSProxyServletFilter_test_size_restrictions</filter-name>
<filter-class>
			org.deegree.security.owsproxy.OWSProxyServletFilter
		</filter-class>
<init-param>
<param-name>WMS:POLICY</param-name>
<param-value>/WEB-INF/tests/wmsPolicy_test_size_restrictions.xml</param-value>
</init-param>
<init-param>
<param-name>ALTREQUESTPAGE</param-name>
<param-value>/accessDenied.html</param-value>
</init-param>
</filter>
<filter-mapping>
<filter-name>OWSProxyServletFilter_test_size_restrictions</filter-name>
<servlet-name>test_size_restrictions</servlet-name>
</filter-mapping>
<filter>
<filter-name>OWSLoggerFilter_test_size_restrictions</filter-name>
<filter-class>com.camptocamp.owsproxy.OWSLoggerFilter</filter-class>
</filter>
<filter-mapping>
<filter-name>OWSLoggerFilter_test_size_restrictions</filter-name>
<servlet-name>test_size_restrictions</servlet-name>
</filter-mapping>
<servlet>
<description/>
<display-name>test_size_restrictions</display-name>
<servlet-name>test_size_restrictions</servlet-name>
<servlet-class>com.camptocamp.owsproxy.OWSProxyServlet</servlet-class>
<init-param>
<param-name>serviceEndPoint</param-name>
<param-value>http://localhost:8081/geoserver/wms</param-value>
</init-param>
</servlet>
<servlet-mapping>
<servlet-name>test_size_restrictions</servlet-name>
<url-pattern>/test_size_restrictions</url-pattern>
</servlet-mapping>
<security-constraint>
<display-name>Ows Proxy Security Constraint</display-name>
<web-resource-collection>
<web-resource-name>Protected Area</web-resource-name>
<url-pattern>/test_size_restrictions</url-pattern>
<http-method>DELETE</http-method>
<http-method>GET</http-method>
<http-method>POST</http-method>
<http-method>PUT</http-method>
</web-resource-collection>
<auth-constraint>
<role-name>tomcat</role-name>
<role-name>role1</role-name>
</auth-constraint>
</security-constraint>
<filter>
<filter-name>OWSProxyServletFilter_test_layer_restrictions</filter-name>
<filter-class>
			org.deegree.security.owsproxy.OWSProxyServletFilter
		</filter-class>
<init-param>
<param-name>WMS:POLICY</param-name>
<param-value>/WEB-INF/tests/wmsPolicy_test_layer_restrictions.xml</param-value>
</init-param>
<init-param>
<param-name>ALTREQUESTPAGE</param-name>
<param-value>/accessDenied.html</param-value>
</init-param>
</filter>
<filter-mapping>
<filter-name>OWSProxyServletFilter_test_layer_restrictions</filter-name>
<servlet-name>test_layer_restrictions</servlet-name>
</filter-mapping>
<filter>
<filter-name>OWSLoggerFilter_test_layer_restrictions</filter-name>
<filter-class>com.camptocamp.owsproxy.OWSLoggerFilter</filter-class>
</filter>
<filter-mapping>
<filter-name>OWSLoggerFilter_test_layer_restrictions</filter-name>
<servlet-name>test_layer_restrictions</servlet-name>
</filter-mapping>
<servlet>
<description/>
<display-name>test_layer_restrictions</display-name>
<servlet-name>test_layer_restrictions</servlet-name>
<servlet-class>com.camptocamp.owsproxy.OWSProxyServlet</servlet-class>
<init-param>
<param-name>serviceEndPoint</param-name>
<param-value>http://localhost:8081/geoserver/wms</param-value>
</init-param>
</servlet>
<servlet-mapping>
<servlet-name>test_layer_restrictions</servlet-name>
<url-pattern>/test_layer_restrictions</url-pattern>
</servlet-mapping>
<security-constraint>
<display-name>Ows Proxy Security Constraint</display-name>
<web-resource-collection>
<web-resource-name>Protected Area</web-resource-name>
<url-pattern>/test_layer_restrictions</url-pattern>
<http-method>DELETE</http-method>
<http-method>GET</http-method>
<http-method>POST</http-method>
<http-method>PUT</http-method>
</web-resource-collection>
<auth-constraint>
<role-name>tomcat</role-name>
<role-name>role1</role-name>
</auth-constraint>
</security-constraint>
<filter>
<filter-name>OWSProxyServletFilter_test_layer_restrictions2</filter-name>
<filter-class>
			org.deegree.security.owsproxy.OWSProxyServletFilter
		</filter-class>
<init-param>
<param-name>WMS:POLICY</param-name>
<param-value>/WEB-INF/tests/wmsPolicy_test_layer_restrictions2.xml</param-value>
</init-param>
<init-param>
<param-name>ALTREQUESTPAGE</param-name>
<param-value>/accessDenied.html</param-value>
</init-param>
</filter>
<filter-mapping>
<filter-name>OWSProxyServletFilter_test_layer_restrictions2</filter-name>
<servlet-name>test_layer_restrictions2</servlet-name>
</filter-mapping>
<filter>
<filter-name>OWSLoggerFilter_test_layer_restrictions2</filter-name>
<filter-class>com.camptocamp.owsproxy.OWSLoggerFilter</filter-class>
</filter>
<filter-mapping>
<filter-name>OWSLoggerFilter_test_layer_restrictions2</filter-name>
<servlet-name>test_layer_restrictions2</servlet-name>
</filter-mapping>
<servlet>
<description/>
<display-name>test_layer_restrictions2</display-name>
<servlet-name>test_layer_restrictions2</servlet-name>
<servlet-class>com.camptocamp.owsproxy.OWSProxyServlet</servlet-class>
<init-param>
<param-name>serviceEndPoint</param-name>
<param-value>http://localhost:8081/geoserver/wms</param-value>
</init-param>
</servlet>
<servlet-mapping>
<servlet-name>test_layer_restrictions2</servlet-name>
<url-pattern>/test_layer_restrictions2</url-pattern>
</servlet-mapping>
<security-constraint>
<display-name>Ows Proxy Security Constraint</display-name>
<web-resource-collection>
<web-resource-name>Protected Area</web-resource-name>
<url-pattern>/test_layer_restrictions2</url-pattern>
<http-method>DELETE</http-method>
<http-method>GET</http-method>
<http-method>POST</http-method>
<http-method>PUT</http-method>
</web-resource-collection>
<auth-constraint>
<role-name>tomcat</role-name>
<role-name>role1</role-name>
</auth-constraint>
</security-constraint>
<filter>
<filter-name>OWSProxyServletFilter_test_bbox_restrictions</filter-name>
<filter-class>
			org.deegree.security.owsproxy.OWSProxyServletFilter
		</filter-class>
<init-param>
<param-name>WMS:POLICY</param-name>
<param-value>/WEB-INF/tests/wmsPolicy_test_bbox_restrictions.xml</param-value>
</init-param>
<init-param>
<param-name>ALTREQUESTPAGE</param-name>
<param-value>/accessDenied.html</param-value>
</init-param>
</filter>
<filter-mapping>
<filter-name>OWSProxyServletFilter_test_bbox_restrictions</filter-name>
<servlet-name>test_bbox_restrictions</servlet-name>
</filter-mapping>
<filter>
<filter-name>OWSLoggerFilter_test_bbox_restrictions</filter-name>
<filter-class>com.camptocamp.owsproxy.OWSLoggerFilter</filter-class>
</filter>
<filter-mapping>
<filter-name>OWSLoggerFilter_test_bbox_restrictions</filter-name>
<servlet-name>test_bbox_restrictions</servlet-name>
</filter-mapping>
<servlet>
<description/>
<display-name>test_bbox_restrictions</display-name>
<servlet-name>test_bbox_restrictions</servlet-name>
<servlet-class>com.camptocamp.owsproxy.OWSProxyServlet</servlet-class>
<init-param>
<param-name>serviceEndPoint</param-name>
<param-value>http://localhost:8081/geoserver/wms</param-value>
</init-param>
</servlet>
<servlet-mapping>
<servlet-name>test_bbox_restrictions</servlet-name>
<url-pattern>/test_bbox_restrictions</url-pattern>
</servlet-mapping>
<security-constraint>
<display-name>Ows Proxy Security Constraint</display-name>
<web-resource-collection>
<web-resource-name>Protected Area</web-resource-name>
<url-pattern>/test_bbox_restrictions</url-pattern>
<http-method>DELETE</http-method>
<http-method>GET</http-method>
<http-method>POST</http-method>
<http-method>PUT</http-method>
</web-resource-collection>
<auth-constraint>
<role-name>tomcat</role-name>
<role-name>role1</role-name>
</auth-constraint>
</security-constraint>
<filter>
<filter-name>OWSProxyServletFilter_test_bbox_outside_restrictions</filter-name>
<filter-class>
			org.deegree.security.owsproxy.OWSProxyServletFilter
		</filter-class>
<init-param>
<param-name>WMS:POLICY</param-name>
<param-value>/WEB-INF/tests/wmsPolicy_test_bbox_outside_restrictions.xml</param-value>
</init-param>
<init-param>
<param-name>ALTREQUESTPAGE</param-name>
<param-value>/accessDenied.html</param-value>
</init-param>
</filter>
<filter-mapping>
<filter-name>OWSProxyServletFilter_test_bbox_outside_restrictions</filter-name>
<servlet-name>test_bbox_outside_restrictions</servlet-name>
</filter-mapping>
<filter>
<filter-name>OWSLoggerFilter_test_bbox_outside_restrictions</filter-name>
<filter-class>com.camptocamp.owsproxy.OWSLoggerFilter</filter-class>
</filter>
<filter-mapping>
<filter-name>OWSLoggerFilter_test_bbox_outside_restrictions</filter-name>
<servlet-name>test_bbox_outside_restrictions</servlet-name>
</filter-mapping>
<servlet>
<description/>
<display-name>test_bbox_outside_restrictions</display-name>
<servlet-name>test_bbox_outside_restrictions</servlet-name>
<servlet-class>com.camptocamp.owsproxy.OWSProxyServlet</servlet-class>
<init-param>
<param-name>serviceEndPoint</param-name>
<param-value>http://localhost:8081/geoserver/wms</param-value>
</init-param>
</servlet>
<servlet-mapping>
<servlet-name>test_bbox_outside_restrictions</servlet-name>
<url-pattern>/test_bbox_outside_restrictions</url-pattern>
</servlet-mapping>
<security-constraint>
<display-name>Ows Proxy Security Constraint</display-name>
<web-resource-collection>
<web-resource-name>Protected Area</web-resource-name>
<url-pattern>/test_bbox_outside_restrictions</url-pattern>
<http-method>DELETE</http-method>
<http-method>GET</http-method>
<http-method>POST</http-method>
<http-method>PUT</http-method>
</web-resource-collection>
<auth-constraint>
<role-name>tomcat</role-name>
<role-name>role1</role-name>
</auth-constraint>
</security-constraint>
<filter>
<filter-name>OWSProxyServletFilter_test_bbox_restrictions2</filter-name>
<filter-class>
			org.deegree.security.owsproxy.OWSProxyServletFilter
		</filter-class>
<init-param>
<param-name>WMS:POLICY</param-name>
<param-value>/WEB-INF/tests/wmsPolicy_test_bbox_restrictions2.xml</param-value>
</init-param>
<init-param>
<param-name>ALTREQUESTPAGE</param-name>
<param-value>/accessDenied.html</param-value>
</init-param>
</filter>
<filter-mapping>
<filter-name>OWSProxyServletFilter_test_bbox_restrictions2</filter-name>
<servlet-name>test_bbox_restrictions2</servlet-name>
</filter-mapping>
<filter>
<filter-name>OWSLoggerFilter_test_bbox_restrictions2</filter-name>
<filter-class>com.camptocamp.owsproxy.OWSLoggerFilter</filter-class>
</filter>
<filter-mapping>
<filter-name>OWSLoggerFilter_test_bbox_restrictions2</filter-name>
<servlet-name>test_bbox_restrictions2</servlet-name>
</filter-mapping>
<servlet>
<description/>
<display-name>test_bbox_restrictions2</display-name>
<servlet-name>test_bbox_restrictions2</servlet-name>
<servlet-class>com.camptocamp.owsproxy.OWSProxyServlet</servlet-class>
<init-param>
<param-name>serviceEndPoint</param-name>
<param-value>http://localhost:8081/geoserver/wms</param-value>
</init-param>
</servlet>
<servlet-mapping>
<servlet-name>test_bbox_restrictions2</servlet-name>
<url-pattern>/test_bbox_restrictions2</url-pattern>
</servlet-mapping>
<security-constraint>
<display-name>Ows Proxy Security Constraint</display-name>
<web-resource-collection>
<web-resource-name>Protected Area</web-resource-name>
<url-pattern>/test_bbox_restrictions2</url-pattern>
<http-method>DELETE</http-method>
<http-method>GET</http-method>
<http-method>POST</http-method>
<http-method>PUT</http-method>
</web-resource-collection>
<auth-constraint>
<role-name>tomcat</role-name>
<role-name>role1</role-name>
</auth-constraint>
</security-constraint>
<filter>
<filter-name>OWSProxyServletFilter_test_featureinfo_featurecount</filter-name>
<filter-class>
			org.deegree.security.owsproxy.OWSProxyServletFilter
		</filter-class>
<init-param>
<param-name>WMS:POLICY</param-name>
<param-value>/WEB-INF/tests/wmsPolicy_test_featureinfo_featurecount.xml</param-value>
</init-param>
<init-param>
<param-name>ALTREQUESTPAGE</param-name>
<param-value>/accessDenied.html</param-value>
</init-param>
</filter>
<filter-mapping>
<filter-name>OWSProxyServletFilter_test_featureinfo_featurecount</filter-name>
<servlet-name>test_featureinfo_featurecount</servlet-name>
</filter-mapping>
<filter>
<filter-name>OWSLoggerFilter_test_featureinfo_featurecount</filter-name>
<filter-class>com.camptocamp.owsproxy.OWSLoggerFilter</filter-class>
</filter>
<filter-mapping>
<filter-name>OWSLoggerFilter_test_featureinfo_featurecount</filter-name>
<servlet-name>test_featureinfo_featurecount</servlet-name>
</filter-mapping>
<servlet>
<description/>
<display-name>test_featureinfo_featurecount</display-name>
<servlet-name>test_featureinfo_featurecount</servlet-name>
<servlet-class>com.camptocamp.owsproxy.OWSProxyServlet</servlet-class>
<init-param>
<param-name>serviceEndPoint</param-name>
<param-value>http://localhost:8081/geoserver/wms</param-value>
</init-param>
</servlet>
<servlet-mapping>
<servlet-name>test_featureinfo_featurecount</servlet-name>
<url-pattern>/test_featureinfo_featurecount</url-pattern>
</servlet-mapping>
<security-constraint>
<display-name>Ows Proxy Security Constraint</display-name>
<web-resource-collection>
<web-resource-name>Protected Area</web-resource-name>
<url-pattern>/test_featureinfo_featurecount</url-pattern>
<http-method>DELETE</http-method>
<http-method>GET</http-method>
<http-method>POST</http-method>
<http-method>PUT</http-method>
</web-resource-collection>
<auth-constraint>
<role-name>tomcat</role-name>
<role-name>role1</role-name>
</auth-constraint>
</security-constraint>
<filter>
<filter-name>OWSProxyServletFilter_test_featureinfo_format</filter-name>
<filter-class>
			org.deegree.security.owsproxy.OWSProxyServletFilter
		</filter-class>
<init-param>
<param-name>WMS:POLICY</param-name>
<param-value>/WEB-INF/tests/wmsPolicy_test_featureinfo_format.xml</param-value>
</init-param>
<init-param>
<param-name>ALTREQUESTPAGE</param-name>
<param-value>/accessDenied.html</param-value>
</init-param>
</filter>
<filter-mapping>
<filter-name>OWSProxyServletFilter_test_featureinfo_format</filter-name>
<servlet-name>test_featureinfo_format</servlet-name>
</filter-mapping>
<filter>
<filter-name>OWSLoggerFilter_test_featureinfo_format</filter-name>
<filter-class>com.camptocamp.owsproxy.OWSLoggerFilter</filter-class>
</filter>
<filter-mapping>
<filter-name>OWSLoggerFilter_test_featureinfo_format</filter-name>
<servlet-name>test_featureinfo_format</servlet-name>
</filter-mapping>
<servlet>
<description/>
<display-name>test_featureinfo_format</display-name>
<servlet-name>test_featureinfo_format</servlet-name>
<servlet-class>com.camptocamp.owsproxy.OWSProxyServlet</servlet-class>
<init-param>
<param-name>serviceEndPoint</param-name>
<param-value>http://localhost:8081/geoserver/wms</param-value>
</init-param>
</servlet>
<servlet-mapping>
<servlet-name>test_featureinfo_format</servlet-name>
<url-pattern>/test_featureinfo_format</url-pattern>
</servlet-mapping>
<security-constraint>
<display-name>Ows Proxy Security Constraint</display-name>
<web-resource-collection>
<web-resource-name>Protected Area</web-resource-name>
<url-pattern>/test_featureinfo_format</url-pattern>
<http-method>DELETE</http-method>
<http-method>GET</http-method>
<http-method>POST</http-method>
<http-method>PUT</http-method>
</web-resource-collection>
<auth-constraint>
<role-name>tomcat</role-name>
<role-name>role1</role-name>
</auth-constraint>
</security-constraint>
<filter>
<filter-name>OWSProxyServletFilter_test_featureinfo_layers</filter-name>
<filter-class>
			org.deegree.security.owsproxy.OWSProxyServletFilter
		</filter-class>
<init-param>
<param-name>WMS:POLICY</param-name>
<param-value>/WEB-INF/tests/wmsPolicy_test_featureinfo_layers.xml</param-value>
</init-param>
<init-param>
<param-name>ALTREQUESTPAGE</param-name>
<param-value>/accessDenied.html</param-value>
</init-param>
</filter>
<filter-mapping>
<filter-name>OWSProxyServletFilter_test_featureinfo_layers</filter-name>
<servlet-name>test_featureinfo_layers</servlet-name>
</filter-mapping>
<filter>
<filter-name>OWSLoggerFilter_test_featureinfo_layers</filter-name>
<filter-class>com.camptocamp.owsproxy.OWSLoggerFilter</filter-class>
</filter>
<filter-mapping>
<filter-name>OWSLoggerFilter_test_featureinfo_layers</filter-name>
<servlet-name>test_featureinfo_layers</servlet-name>
</filter-mapping>
<servlet>
<description/>
<display-name>test_featureinfo_layers</display-name>
<servlet-name>test_featureinfo_layers</servlet-name>
<servlet-class>com.camptocamp.owsproxy.OWSProxyServlet</servlet-class>
<init-param>
<param-name>serviceEndPoint</param-name>
<param-value>http://localhost:8081/geoserver/wms</param-value>
</init-param>
</servlet>
<servlet-mapping>
<servlet-name>test_featureinfo_layers</servlet-name>
<url-pattern>/test_featureinfo_layers</url-pattern>
</servlet-mapping>
<security-constraint>
<display-name>Ows Proxy Security Constraint</display-name>
<web-resource-collection>
<web-resource-name>Protected Area</web-resource-name>
<url-pattern>/test_featureinfo_layers</url-pattern>
<http-method>DELETE</http-method>
<http-method>GET</http-method>
<http-method>POST</http-method>
<http-method>PUT</http-method>
</web-resource-collection>
<auth-constraint>
<role-name>tomcat</role-name>
<role-name>role1</role-name>
</auth-constraint>
</security-constraint>
<login-config>
<auth-method>BASIC</auth-method>
<realm-name>Ows Proxy Realm</realm-name>
</login-config>
</web-app>
